{% extends 'Car_max/base.html' %}

{% block content %}

<h2 class="mb-4">Vehículos disponibles</h2>

<div class="row">
    {% for car in cars %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            {% if car.image %}
                <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.brand }} {{ car.model_name }}" style="height: 200px; object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h5>{{ car.brand }} {{ car.model_name }}</h5>
                <p>{{ car.description|truncatechars:80 }}</p>

                <p><strong>$ {{ car.price }}</strong></p>
                <p><small>Año: {{ car.year }} | Km: {{ car.mileage }}</small></p>

                <small class="text-muted">
                    Vendedor: {{ car.owner.username }}
                </small>

                <div class="mt-2">
                    <span class="badge bg-primary">{{ car.transmission }}</span>
                    <span class="badge bg-info">{{ car.fuel_type }}</span>
                    {% for cat in car.categories.all %}
                        <span class="badge bg-secondary">{{ cat.name }}</span>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    {% empty %}
        <p>No hay vehículos disponibles aún.</p>
    {% endfor %}
</div>

{% endblock %}